.footer {
    height: 30px;
    margin-top: 20px;
    overflow: hidden;
    text-align: center;
    strong:last-child {
    	margin-left: 40px;
    	a {
    		margin-left: 10px;
    	}
    }
}