ul,li{
    list-style: none outside none;
    outline: none;
    margin: 0;
    padding: 0;
}
html,body,p,h3,h4,h5{
    padding:0;
    margin:0;

}
input {
    height: 30px;
}
.radio-group .radio{
    display: inline-block;
    width: 30px;
    vertical-align: middle;
}

.none{
    display: none!important;
}

/*主页*/
.btn{
    display: block;
    background: #52a052;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    left: 0;
    cursor: pointer;
    box-sizing: border-box;
}
.fixed{
    position: fixed;
}
.btn.btn-option, .btn.btn-taici{
    bottom: 100px;
    z-index: 111;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 5%;
    left: auto;
}
.btn.btn-taici{
    right: 25%;
}
.btn.btn-sit{
    position: absolute;
    bottom: 5%;
    background: #e65e1c;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}
.btn.btn-send{
    position: fixed;
    bottom: 45px;
    left: 0;
    z-index: 99;
}
.bg,.page,.main,.screen-left,.btn-list{
    width: 100%;
    height: 100vh;
    background: lightpink;
    overflow: auto;
}
.bg{
    background: url('/img/bg.png') no-repeat center;
     -webkit-filter: blur(3px) contrast(70%);
     filter: blur(3px) contrast(70%);
     position: absolute;
}
.screen-left,.btn-list{
    transition: all 0.3s linear;
    position: absolute;
    top: 0;
    background: #43bc8f;
}
.screen-left{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
     background: rgba(53, 109, 116, 0.7);
    padding: 10px;
    box-sizing: border-box;
}
.btn-list{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 0.3s linear;
    position: fixed;
    z-index: 100;
    top: 0;
    background: #43bc8f;
    padding: 10px;
    box-sizing: border-box;
}
.btn-list.active,.screen-left.active{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.btn-list .item{
    text-align: center;
    background: rgba(255,255,255,0.4);
    padding: 10px;
    margin: 10px;
}
.btn-list .item .name-in{
    width: 90%;
    height: 30px;
    font-size: 1.2em;
}
/*抽号码页面布局*/
.screen-left .center{
    display: inline-block;
    padding: 10px 20px;
    margin: 0 auto;

    background: rgba(255,255,255,0.9);
    margin-top: 80%;

    margin-left: 20%;
}
.screen-left .option{
    width: 200px;
    margin: 20px auto;
    position: relative;
}
.screen-left h2{
    text-align: center;
}
.screen-left .code-list {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    background: #fff;
    position: relative;
}
.screen-left .code-list .result{
    position: absolute;
    bottom: 200px;
    left: 50%;
    width: 200px;
    /* height: 100px; */
    /*padding: 10px;*/
    margin-left: -100px;
    background: rgba(221, 103, 103, 0.49);
    text-align: center;
    /*padding-top: 20px;*/
    box-sizing: border-box;
}
.screen-left .code-list .item{
        width: 49%;
    /* background: #000; */
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.screen-left .code-list .item + .item{
    border-left: 1px dashed #aaa;
}
.screen-left .code-list .sub-list{
    height:70%;
    overflow: auto;
    padding: 20px;
}
.screen-left .code-list h2{
    text-align: center;
}
.screen-left .code-list .title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}
.screen-left .code-list .result img{
    width: 150px;
    height: 150px;
}
.screen-left .code-list .result .alert-img{
    padding: 10px;
}
.screen-left .code-list .result .code-id{
    font-size: 30px;
}
.screen-left .code-list .sub-list .alert-img{
    display: inline-block;
    margin: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
}
.screen-left .code-list .sub-list img{
    width: 80px;
    height: 80px;
}
.screen-left .code-list .sub-list .code-id{
    font-size: 15px;
}
/*cosplay页面布局*/
.screen-left .cosplay-list .info,
.screen-left .cosplay-list .group{
    display: block;
    width: 80%;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}
.screen-left .cosplay-list .info{

    margin: 0 auto;

    margin-top: 50px;
    font-size: 1.5em;
}
.screen-left .cosplay-list .group{
    height: 55vh;
    margin: 10px auto;
}
.screen-left .cosplay-list .group .item{
    width: 49%;
    /* background: #000; */
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.screen-left .cosplay-list .group .item + .item{
    border-left: 1px dashed red;
}
.screen-left .cosplay-list .group .ava{
    padding: 0 30px;
}
.screen-left .cosplay-list .group .ava .item.female,
.screen-left .cosplay-list .group .ava .item.male{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
.screen-left .cosplay-list .group1 .ava .item.female{

    background: url('/img/1.jpg') center no-repeat;
    background-size: 100%;
}
.screen-left .cosplay-list .group1 .ava .item.male{
    background: url('/img/11.jpg') center no-repeat;
    background-size: 100%;
}
.screen-left .cosplay-list .group2 .ava .item.female{

    background: url('/img/3.jpg') center no-repeat;
    background-size: 100%;
}
.screen-left .cosplay-list .group2 .ava .item.male{
    background: url('/img/13.jpg') center no-repeat;
    background-size: 100%;
}
.screen-left .cosplay-list .group .ava .title{
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
}
.screen-left .cosplay-list .group .levels {
    padding: 10px;
}
.screen-left .cosplay-list .group .levels .item{
    width: 100%;
    /* font-size: 3em; */
    background: #ddd;
    margin: 5px 0;
    position: relative;
    height: 40px;
}
.screen-left .cosplay-list .group .levels .item .flag{
    font-size: 2em;
    z-index: 111;
    position: absolute;
}
.screen-left .cosplay-list .group .levels .item .status{
    display: inline-block;
    position: absolute;
    width: 0;
    height: 100%;
    background: lawngreen;
    left: 0;
    transition: width 0.3s linear;
}
.screen-left .cosplay-list .group .levels .item .num{
    margin-top: 2%;
    color: green;
    font-size: 1.2em;
    z-index: 111;
    position: absolute;
    right: 2%;
}
.screen-left .cosplay-list .group .total{
    padding: 0 10px;
    text-align: right;
}
.screen-left .cosplay-list .group .total .num{
    color: green;
    font-size: 2em;
}

.cosplay-pic img{
    width: 100%;
}
/*主页面布局*/
.main .msg-in{
    display: block;
    width: 100%;
    background: rgba(0,0,0,0.3);
    outline: none;
    position: fixed;
    bottom: 0;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    z-index: 99;
}
.main .msg-list{
    height: 80vh;
    overflow: auto;
    max-width: 900px;
    /*margin: 0 auto;*/
    margin: 5% 30%;
}
.main .msg-list-align{
    height: 0;
}
.main .msg-list .item{
    background: rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 5px;
}
.main .msg-list .item.right{
    text-align: right;
    overflow: hidden;
}
.main .msg-list .item img, .main .msg-list-align .item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
.main .msg-list .item.right img{
    float: right;
}
.main .msg-list .item.right .msg{
    float: right;
    line-height: 2.5;
}
.main .msg-list .item .msg, .main .msg-list-align .item .msg{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
/*二维码布局*/
.QR{
    width: 100%;
    height: 100%;
}
.alert-QR{
    width: 100%;
    max-height: 400px;
}
.alert-QR img{
    width: 80%;
}

/*PPT页面*/
.screen-left{
    z-index: 1;
}
.page.zlh{
    background: url('/img/zlh.png') no-repeat center;
    background-size: contain;
}
.page.mulu{
    background: url('/img/mulu.png') no-repeat center;
    background-size: contain;
}
.page.part1{
    background: url('/img/part1.png') no-repeat center;
    background-size: contain;
}
.page.part2{
    background: url('/img/part2.png') no-repeat center;
    background-size: contain;
}
.page.part3{
    background: url('/img/part3.png') no-repeat center;
    background-size: contain;
}
.page.new{
    background: url('/img/new.png') no-repeat center;
    background-size: contain;
}
.page.part4{
    background: url('/img/part4.png') no-repeat center;
    background-size: contain;
}
.page.yx1{
    background: url('/img/yx1.png') no-repeat center;
    background-size: contain;
}
.page.yx2{
    background: url('/img/yx2.png') no-repeat center;
    background-size: contain;
}
.page.yx3{
    background: url('/img/yx3.png') no-repeat center;
    background-size: contain;
}
.page.yx4{
    background: url('/img/yx4.png') no-repeat center;
    background-size: contain;
}
.page.part5{
    background: url('/img/part5.png') no-repeat center;
    background-size: contain;
}
.page.yd1{
    background: url('/img/yd1.png') no-repeat center;
    background-size: contain;
}
.page.yd2{
    background: url('/img/yd2.png') no-repeat center;
    background-size: contain;
}
.page.yd3{
    background: url('/img/yd3.png') no-repeat center;
    background-size: contain;
}
.page.part6{
    background: url('/img/part6.png') no-repeat center;
    background-size: contain;
}
.page.part7{
    background: url('/img/part7.png') no-repeat center;
    background-size: contain;
}
.page.part6{
    background: url('/img/part6.png') no-repeat center;
    background-size: contain;
}

/*音乐*/
.music-select{
    width: 100%;
    height: 40px;
}
.range-select{
    width: 100%;
}
.canvas{
    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 640px){
    .main .msg-list{
        height: 80vh;
        margin: 0 0;
        position: fixed;
        width: 100%;
        padding: 20px 0;
    }
}